body
{
    line-height: 1.4;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

#page 
{
	margin-left: 5%;
    margin-right: 5%;
}

/* #region Headers */
/* -------------------------------------------------- */
h1
{  
    width: fit-content;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
}

h2
{
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 6rem;
    text-align: center;
}

header p
{
    margin: 0%;
    margin-bottom: 1%;
    padding: 0%;
    width: fit-content;

    font-size: 2.2rem;
    font-weight: bold; 
    text-align: center;
}

h4
{
    font-size: 1.4rem;
}
/* #endregion */

/* #region Multi-Column Layout */
/* -------------------------------------------------- */
main
{
    column-count: 3;
    margin-top: 0%;
    padding-top: 0%;
}

main p
{
    margin-top: 0%;
    font-size: 1.2rem;
}
/* #endregion */