/* #region Empty */
/*------------------------------------------------------*/
/* Copy And Paste This For Organzing Regions */
/*------------------------------------------------------*/
/* #endregion Empty */

/* #region Core */
/*------------------------------------------------------*/
@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 80%;
    margin: auto;
    background-color: rgb(116, 40, 40);
    color: aliceblue;
}
/*------------------------------------------------------*/
/* #endregion Core */

/* #region Header */
/*------------------------------------------------------*/
header {
    text-align: center;
}
/*------------------------------------------------------*/
/* #endregion Header */

/* #region Grid Layout */
/*------------------------------------------------------*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

section {
    grid-column: 1;
    background-color: rgb(0, 0, 0);
    background-image: url("../images/cropped.gif");
    height: 1067px;
    width: 1067px;

    /* using a grid within a grid to center the child contents */
    display: grid;
    justify-items: center;
}

.view-port {
    align-self: center;
    background-color: white;
    height: 33%;
    width: 40%;
    overflow-y: scroll;
    text-align: center;
    color: black;

    font-size: larger;
}

article {
    grid-column: 1;
    background-color: rgb(0, 0, 0);
    width: 900px;
    height: auto;
}

aside {
    grid-column: 2;
    grid-row: 1 / span 2; /* <- had to look this up at https://www.w3schools.com/cssref/pr_grid-row.php */
    background-color: rgb(0, 0, 0);
    width: auto;
}
/*------------------------------------------------------*/
/* #endregion Grid Layout */