/* #region About */
/*------------------------------------------------------*/
/* 
I am aware we were not supposed to use classes or ID's,
however, I am fine with losing some marks as I am very
pleased with the results.

The images have been sourced from recreations by fans and
are their sources cited in the code. I have edited almost all
images but one.

I am still struggling with responsive layouts and will but
am starting to understand a little more about them, despite
the fact I had to make a few things static.
*/
/*------------------------------------------------------*/
/* #endregion About */

/* #region Core */
/*------------------------------------------------------*/
@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* Scale */
    width: 80%;
    max-width: 1800px;

    /* Positioning */
    margin: 0 auto;

    /* Background */
    background-image: url("../images/10000-Days-BG.jpg"); /* Obtained from: https://wallpaperaccess.com/tool-eye */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <- had to look this up https://www.w3schools.com/cssref/pr_background-attachment.php */

    /* Font */
    color: aliceblue;
}
/*------------------------------------------------------*/
/* #endregion Core */

/* #region Header */
/*------------------------------------------------------*/
header {
    /* Font */
    text-align: center;

    /* Positioning */
    padding: 0%;
}

h1 {
    font-family: "Uncial Antiqua", system-ui;
    font-size: 6rem;
    font-weight: 700;
}

h2 {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
}

/*------------------------------------------------------*/
/* #endregion Header */

/* #region Main and Shared */
/*------------------------------------------------------*/
main {
    /* Grid Layout */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

section, article, aside { /* Shared Properties */
    /* Background */
    background-color: rgb(0, 0, 0);

    /* Border */
    border: 1px solid gray;
    border-radius: 10px;

    /* Positioning */
    padding: 20px;
}
/*------------------------------------------------------*/
/* #endregion Grid Layout */

/* #region Section */
/*------------------------------------------------------*/
section {
    /* Grid Position */
    grid-column: 1;

    /* Background */
    background-image: url("../images/Aenima-Cover.jpg"); /* Obtained from: https://www.reddit.com/r/ToolBand/ */
    background-repeat: no-repeat;
    background-position: center;
}

section h2 {
    /* Font */
    text-align: center;
}

section .lyrics-container {
    /* Scale */
    min-width: 1000px;
    min-height: 1000px;
    
    /* Background */
    background-image: url("../images/Cover-Middle.gif");
    background-repeat: no-repeat;
    background-position: center;
    
    /* Using Another Grid For Lyrics View Port (Child) */
    display: grid;
    justify-items: center;
}

section .lyrics-view-port {
    /* Scale */
    width: 500px;
    height: 320px;

    /* Positioning */
    align-self: center;
    overflow-y: scroll;
    padding-left: 40px;
    margin-bottom: 20px;

    /* Background */
    background-color: white;

    /* Font */
    text-align: center;
    color: black;
    font-size: larger;
    font-family: "Rubik Glitch", system-ui;
}
/*------------------------------------------------------*/
/* #endregion Section */

/* #region Article */
/*------------------------------------------------------*/
article {
    /* Grid Position */
    grid-column: 1;
    
    /* Scale */
    max-width: 1200px;
}

article h3 {
    /* Positioning */
    margin-top: 0;

    /* Font */
    font-size: 2rem;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

article p {
    /* Font */
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
}
/*------------------------------------------------------*/
/* #endregion Empty */

/* #region Aside*/
/*------------------------------------------------------*/
aside {
    /* Grid Position */
    grid-column: 2;
    grid-row: 1 / span 2; /* <- had to look this up at https://www.w3schools.com/cssref/pr_grid-row.php */

    /* Scale */
    width: 475px;
}

aside h3 {
    /* Scale */
    width: 300px;

    /* Positioning */
    margin-right: auto; /* Ensures element stays on the left */
    margin-top: 0%;

    /* Font */
    font-size: 3rem;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

aside p {
    /* Font */
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
}

aside img {
    /* Scale */
    width: 250px;

    /* Positioning */
    float: right;
    padding: 0;
}
/*------------------------------------------------------*/
/* #endregion Aside */

/* #region Link */
/*------------------------------------------------------*/
a {
    /* Font */
    font-size: 2rem;
}
/*------------------------------------------------------*/
/* #endregion Link */