/* #region Empty */
/*------------------------------------------------------*/
/* Copy And Paste This For Organzing Regions */
/*------------------------------------------------------*/
/* #endregion Empty */

/* #region Core */
/*------------------------------------------------------*/
@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* Scale */
    width: 80%;

    /* Positioning */
    margin: 0 auto;

    /* Background */
    background-image: url("../images/10000-Days-BG.jpg"); /* Obtained from: https://wallpaperaccess.com/tool-eye */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <- had to look this up https://www.w3schools.com/cssref/pr_background-attachment.php */

    /* Font */
    color: aliceblue;
}
/*------------------------------------------------------*/
/* #endregion Core */

/* #region Header */
/*------------------------------------------------------*/
header {
    /* Font */
    text-align: center;
}
/*------------------------------------------------------*/
/* #endregion Header */

/* #region Grid Layout */
/*------------------------------------------------------*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

section, article, aside { 
    /* Shared Properties */
    background-color: rgb(0, 0, 0);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}
/*------------------------------------------------------*/
/* #endregion Grid Layout */

/* #region Section */
/*------------------------------------------------------*/
section {
    /* Scale */
    height: auto;

    /* Grid Position */
    grid-column: 1;
}

section h2 {
    text-align: center;
}

section .lyrics-container {
    /* Scale */
    min-width: 1000px;
    min-height: 1000px;
    
    /* Background */
    background-image: url("../images/cropped.gif");
    background-repeat: no-repeat;
    background-position: center;
    
    /* Using Another Grid For Lyrics View Port (Child) */
    display: grid;
    justify-items: center;
}

section .lyrics-view-port {
    /* Scale */
    width: 500px;
    max-height: 300px;

    /* Positioning */
    align-self: center;
    overflow-y: scroll;

    /* Background */
    background-color: white;

    /* Font */
    text-align: center;
    color: black;
    font-size: larger;
}
/*------------------------------------------------------*/
/* #endregion Section */

/* #region Article */
/*------------------------------------------------------*/
article {
    grid-column: 1;
}
/*------------------------------------------------------*/
/* #endregion Empty */

/* #region Aside*/
/*------------------------------------------------------*/
aside {
    grid-column: 2;
    grid-row: 1 / span 2; /* <- had to look this up at https://www.w3schools.com/cssref/pr_grid-row.php */
}

aside img {
    width: 70%;
}
/*------------------------------------------------------*/
/* #endregion Empty */