/* #region Core */
/*------------------------------------------------------*/
html {
    background-color: black;
    color: aliceblue;
}
/*------------------------------------------------------*/
/* #endregion Core */