@charset "UTF-8";

/*#region Named Selector*/
/*------------------------------ */
h2 {
    color: red;
    font-style: italic;
}
/*#endregion*/

/* ID Selector 
------------------------------ */
#project {
    color: olive;
}

/* Class Selector 
------------------------------ */
.about {
    background-color: lightgray;
}

/* Contextual(*aka Decendent) Selector 
------------------------------ */
section p {
    color: darkorange;
}

.subproject p {
    color: darkblue;
}

/* Grouped Selector 
------------------------------ */
h1, h2, h3 {
    font-family: sans-serif;
}

/*#region Test */
/* Pseudo-Class Selector 
------------------------------ */
a:link {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

a:visited {
    color: red;
}

a:focus {
    background-color: yellow;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkorange;
}
/* #endregion */

/* Structural Pseudo-Class Selector 
------------------------------ */
li:nth-child(3n-1) {
    background-color: white;
}

li:nth-of-type(odd) {
    font-weight: bold;
}

article section:last-of-type {
    background: lightblue;
}

/* Sibling & Pseudo-Element Selector 
------------------------------ */
h1 + p::first-line {
    text-transform: uppercase;
}