/*==============================================================*/
/* #region Core */
/*------------------------------------------------------------- */
@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* Positioning */
    margin: 0 auto;

    /* Scale */
    width: 80%;
    max-width: 1800px;

    /* Background */
    background-color: white;

    /* Font */
    color: black;
}
/*------------------------------------------------------------- */
/* #endregion Core */
/*==============================================================*/

