/*==============================================================*/
/* #region About */
/*------------------------------------------------------------- */
/* 
    No HTML was harmed in the making of this assignment!

    The reference image was crudley edited by myself in GIMP
    and then generated through Ai at grok.com using the prompt:
    "Please clean up this photo by removing the blurriness and 
    artifacts."
*/
/*------------------------------------------------------------- */
/* #endregion About */
/*==============================================================*/

/*==============================================================*/
/* #region Core */
/*------------------------------------------------------------- */
@charset "utf-8";

html {
    box-sizing: border-box;
}

/* Border Sizing Correction */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* positioning */
    margin: 0 auto;

    /* scale */
    max-width: 1100px;

    /* background */
    background-color: white;

    /* font */
    color: black;
    line-height: 1.4;
}
/*------------------------------------------------------------- */
/* #endregion Core */
/*==============================================================*/

/*==============================================================*/
/* #region Grid Layout */
/*------------------------------------------------------------- */
main {
    display: grid;
    grid-template-columns: 450px 1fr; /* left fixed, right flexible */
    column-gap: 40px;
    align-items: start; /* prevents items from stretching to match row height */
}

/* Left Column */
aside {
    grid-column: 1;
    grid-row: 1;
}

/* Right Column */
section {
    grid-column: 2;
    grid-row: 1;
}
/*------------------------------------------------------------- */
/* #endregion Grid Layout */
/*==============================================================*/

/*==============================================================*/
/* #region Generic */
/*------------------------------------------------------------- */
h1, h2 {
    text-transform: lowercase;
    margin: 2px;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
}

h3 {
    text-transform: uppercase;
    margin: 2px;
}

li {
    margin-top: 8px;
}

/* Line Item Numbering (Pseudo Element) */
li::marker {
    content: attr(value) "   "; /* removes the decimal after the number, adds space */
    font-weight: bold; 
}
/*------------------------------------------------------------- */
/* #endregion Generic */
/*==============================================================*/

/*==============================================================*/
/* #region Header */
/*------------------------------------------------------------- */
header {
    /* flex box layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Date and Issue */
header p {
    /* positioning */
    order: 1;
    margin-top: 10px;
    padding-left: 3%;

    /* font */
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    
}

/* Title */
header h1 {
    /* positioning */
    order: 2;
    margin-top: 5px;
    margin-bottom: 8%;

    /* font */
    color: #f36b21;
    font-size: 14rem; 
    font-weight: lighter;
    line-height: 0.8;
    text-align: center;
}
/*------------------------------------------------------------- */
/* #endregion Header */
/*==============================================================*/

/*==============================================================*/
/* #region Left Column */
/*------------------------------------------------------------- */
/* Aside 2 */
aside:nth-of-type(2) {
    position: relative;
    top: 780px;
    width: 90%;
    margin-left: 10%;
}

aside em {
    /* font */
    text-transform: uppercase;
}

/* Second Aside */
aside:nth-of-type(2) {
    /* border and positioning */
    border: 2px solid orange;
    padding-left: 20px;

    /* font */
    font-weight: bold;

    /* drop shadow */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
}

/* Image Container */
figure {
    margin: 0%;
    padding: 0%;
}

/* Model Image */
figure > img {
    width: 100%;
    height: auto;
    justify-content: center;
}

/* Figure Caption Text */
figcaption p:nth-of-type(1) {
    /* postioning */
    position: absolute;
    top: 1000px;
    margin-left: 70px;

    /* font */
    font-size: 1.2rem;
    color: white;  
}

/* Figure Caption Number*/
figcaption em {
    /* postioning */
    position: absolute;
    top: -130px;
    
    /* font */
    font-size: 7rem;
}

/* Figure Caption Credit */
figcaption p:nth-of-type(2) {
    /* postioning */
    position: relative;
    bottom: -330px;


    /* font */
    font-size: 1.2rem;
    transform: rotate(-90deg);
    transform-origin: left bottom;
}
/*------------------------------------------------------------- */
/* #endregion Left Column  */
/*==============================================================*/

/*==============================================================*/
/* #region Right Column */
/*------------------------------------------------------------- */
/* Section 2 */
section:nth-of-type(2) { 
    position: relative;
    margin-top: 350px; 
}

/* Section 3 */
section:nth-of-type(3) { 
    position: relative;
    margin-top: 630px; 
}

/* Section 4 */
section:nth-of-type(4) { 
    position: relative;
    margin-top: 930px; 
}

/* First Section h2 */
main section:nth-of-type(1) {
    border-top: 20px solid rgb(74, 164, 74);
}

/* First Section h3 */
li[value='11'] h3,
li[value='12'] h3,
li[value='16'] h3,
li[value='20'] h3,
li[value='26'] h3 
{
    color: rgb(102, 200, 102);
}

/* Second Section h2 */
main section:nth-of-type(2) {
    border-top: 20px solid rgb(223, 85, 174);
}

/* Second Section h3 */
li[value='31'] h3,
li[value='32'] h3,
li[value='36'] h3 
{
    color: rgb(230, 113, 189);
}

/* Third Section h2 */
main section:nth-of-type(3) {
    border-top: 20px solid rgb(63, 59, 187);
}

/* Third Section h3 */
li[value='47'] h3,
li[value='49'] h3,
li[value='54'] h3,
li[value='55'] h3,
li[value='56'] h3,
li[value='68'] h3,
li[value='72'] h3,
li[value='76'] h3 
{
    color: rgb(98, 94, 231);
}

/* Ordered Lists */
section ol {
    padding-left: 80px;
    margin-top: 0%;
    padding-top: 0%;
}

/* Line Item Numbers */
section ol li::marker {
    font-size: 1.2rem;
}

/* Line Header and Paragraph */
section li h3,
section li p {
    display: inline;
    margin: 0;
} 
/*------------------------------------------------------------- */
/* #endregion Right Column */
/*==============================================================*/

/*==============================================================*/
/* #region Footer */
/*------------------------------------------------------------- */
footer {
    /* positioning */
    margin-top: 20px;

    /* font */
    text-align: right;
    font-size: 1.3rem;
}

footer em {
    /* font */
    color: orange;
}
/*------------------------------------------------------------- */
/* #endregion Footer Section */
/*==============================================================*/